doctype html
html
	head
		title='Search'
		link(rel='stylesheet', href='/bower_components/semantic/npm/elements/input.css')
		link(rel='stylesheet', href='/bower_components/semantic/npm/elements/header.css')
		link(rel='stylesheet', href='/bower_components/semantic/npm/elements/icon.css')		
	body
		div(class='ui small center aligned inverted red block header')
			div(class='ui input small left icon')
				input(type='text', placeholder='Busca...')
				i(class='search icon')